<img src="{{imgLink}}" alt="{{imgAlt}}">
<form action="#/form" method="post">
    User: <input name="user" type="text">
    Pass: <input name="pass" type="password">
    <input type="submit" value="Login">
</form>