*{
    box-sizing : border-box;
    color: #fff;
}
body{
    background-image: url("images/hands-with-pencil-and-ruler.jpg");
}

.wrapper{
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
    padding: 15px;
    text-align: center;
}

.application{
    background-color: #17A2B8;
    width: 50%;
}

