<nav>
    <a class="active" href="#/">Home</a>
    {{#if isLogged}}
    <a href="#/create-meme">Create Meme</a>
    <div id="profile">
        <a href="#/">Welcome {{username}}</a>
        <a href="#/user/:{{userId}}">My Profile</a>
        <a href="#/logout">logout</a>
    </div>
    {{/if}}
</nav>